@import '~antd/dist/antd.css';

body {
  padding: 0 10px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#root {
  max-width: 1000px;
  margin: auto;
}

header {
  height: 20px;
}
.content-wrapper {
  min-height: calc(100vh - 70px);
}

footer {
  height: 20px;
  margin-top: 20px;
  text-align: center;
}

.ant-cascader-menu {
  height: 194px;
}